<% @page_title = "#{competition_name}" %>
<% @page_description = "Online registration for the #{competition_name} Homebrew Competition" %>
<% @suppress_page_header = true %>

<% if @days_to_go > 0 -%>
  <div id="countdown">
    <%= pluralize(@days_to_go, 'day') -%> until <%= competition_name -%>
  </div>
<% end -%>

<p>
  Welcome to the online registration system for the World Cup of Beer.
</p>

<p>
  If you are interested in judging or stewarding, please proceed to the
  <%= link_to('online registration',
                                              online_registration_path) %>.
  Once and sign in if you have a login or create a new account. Once that is
  complete, you should have the option of signing up to judge. If you wish to
  steward, follow this same process, but when you are selecting Rank, select Steward.
</p>
<p>
  Registration for the competition is now open.
  Note, we will only be accepting 650 entries this
  year, quite a bit fewer than the 713 entries we had last year.
  We are at nearly 400 entries as of February 8th, so please enter soon to
  ensure a spot in the comp.
  If you are interested, you can check out the <%= link_to('competition rules', rules_path) %> first.
</p>

<p>
  For more information, contact <%= coordinator_name %> by email at
  <%= mail_to coordinator_email, nil,
              :title => "#{competition_name} contact email address" %>.
</p>

<table class="orgtable" summary="Links to related organizations">
  <tr>
    <td>
      <%= link_to(image_tag('bjcp.gif',
                            :alt => 'BJCP Sanctioned Competition',
                            :size => '74x116'),
                  'http://www.bjcp.org/',
                  { :title => 'BJCP Web Site' }) %>
    </td>
    <td align="center" valign="middle">
      <%= link_to(image_tag('aha.gif',
                            :alt => 'AHA Sanctioned Competition',
                            :size => '255x55'),
                  'http://www.beertown.org/homebrewing/index.html',
                  { :title => 'AHA Homebrewing Web Site' }) %>
    </td>
  </tr>
</table>
