<ol id="time-availabilities">
  <% 
     JudgingSession.all.each_with_index do |judging_session, i|
       selected = @record.time_availabilities.any? {|t| t.start_time == judging_session.start_time && t.end_time == judging_session.end_time }

  -%>
    <li>
      <%= check_box_tag("record_time_availabilities_#{i+1}", 1, selected,
                        :_name => "record[time_availabilities][#{i+1}]",
                        :onclick => "toggleTimeAvailability(this)",
                        :start_time =>  judging_session.start_time,
                        :end_time =>  judging_session.end_time) %>
      <% if selected %>
        <%= hidden_field_tag("record[time_availabilities][#{i+1}][start_time]", judging_session.start_time) %>
        <%= hidden_field_tag("record[time_availabilities][#{i+1}][end_time]", judging_session.end_time) %>
      <% end %>
      <span class="selectLabel">I am available to judge from <%= judging_session.start_time.strftime("%l:%M %p") %> to <%= judging_session.end_time.strftime("%l:%M %p") %> on <%= h(judging_session.date.to_s(:long)) %>.</span>
    </li>
  <% end -%>
</ol>
